{% load static %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% get_static_prefix %}assets/img/traintracks.jpg" width="100%">
          <div class="container">
            <div class="carousel-caption">
              <h1>Its Time To Take Care of You</h1>
              <p>CuroSeven is proactive health analysis.Because health is not simply the absence of disease.</p>
              <p><a class="btn btn-large btn-primary" href="service1">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide"> -->
          <img src="{% get_static_prefix %}assets/img/runstart.jpg" width="100%">
          <div class="container">
            <div class="carousel-caption">
              <h1>Reduce your risk of Future Disease</h1>
              <p>Whether this be Heart Disease, Diabetes, Cancer, Obesity or illness which runs in the family.</p>
              <!-- <p><a class="btn btn-large btn-primary" href="service2">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% get_static_prefix %}assets/img/grassflower.jpg" width="100%">
          <div class="container">
            <div class="carousel-caption">
              <h1>Realise your Performance Potential</h1>
              <p>Whether an elite athlete or a weekend warrior looking to improve your performance in your sport of choice, we can help you get there..</p>
              <!-- <p><a class="btn btn-large btn-primary" href="service3">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% get_static_prefix %}assets/img/girlsun.jpg" width="100%">
          <div class="container">
            <div class="carousel-caption">
              <h1>Reach the your Ideal Weight and Body Composition</h1>
              <p>some text</p>
              <!-- <p><a class="btn btn-large btn-primary" href="service4">Learn more</a></p> -->
            </div>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
    </div><!-- /.carousel -->
