{% load static %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <i class="icon-stethoscope icon-8x"></i>
          <h2>Prevention</h2>
          <p>some text</p>
<!--      <p><a class="btn btn-default" href="service_prevention.html">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i class="icon-sun icon-8x"></i>
          <h2>Vitality</h2>
          <p>We identify which weight management plan would work best for you based on lifestyle analysis, family history and specific blood analysis. Improve lean body mass, boost your metabolism and maintain your optimal body composition for life - we show you how.</p>
<!--          <p><a class="btn btn-default" href="service_vitality.html">View details &raquo;</a></p> -->
        </div>

        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
         <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image"> -->
          <i class="icon-dashboard icon-8x"></i>
          <h2>Performance</h2>
          <p>A number of hormonal and nutrient deficiencies present themselves in sports people at any level.  We identify these and provide natural ways to get your running at full speed.The NHS simply do not test for these. Normal ranges often do not apply to athletes. We interpret your results in line with your lifestyle.</p>
 <!--         <p><a class="btn btn-default" href="service_performance.html">View details &raquo;</a></p> -->

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    </div><!-- /.container -->